*{
    margin: 0;
    padding: 0;
}

#condenedor{
    width: 1200px;
    height: 1400px;
    background: white;
    margin: 0.5em;
}

#header{
    height: 15%;
    background: #a4a4a4;
    margin: 0.5em;
    border-radius: 1em;
}

#nav{
    height: 10%;
    background: #424242;
    margin: 1em;
    border-radius: 1em;
}

#contenido{
    height: 53%;
    background: red;
}

#footer{
    height: 15%;
    background: #424242;
    border-radius: 1em;
    margin: 1em;

}

#section{
    height: 100%;
    width: 100%;
    background:  #a4a4a4;
    border-radius: 1em;
    float: left;
}

#aside{
    height: 95%;
    width: 25%;
    background: #a4a4a4;
    border-radius: 1em;
    float: right;
    margin: 0.5em;

}

.articulo{
    width: 95%;
    height: 20%;
    background: #424242;
    margin: 1em;
    border-radius: 1em;
}